@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #FFFFFF;

  outline: 5px solid red;
  outline-offset: -5px;
}

.page-header {
  padding-top: 20px;
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 40px, #ffe17f 40px, #ffe17f 100%);
  color: #000000;
  width: 1160px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.page-header-logo {
  width: 100%;
  margin-bottom: 30px;
}

.search-form {

  display: flex;
  max-width: 515px;

}


.search-button {
  background-color: #FFE17F;
  width: 160px;
}

.search {
  background-color: #FFE17F;
  width: 359px;
}

.user-menu-list {
  display: flex;
  list-style: none;
  width: 497px;
  margin: 0;
  padding: 0;
}

.user-menu-account {
  width: 231px;
  display: flex;

}

.user-account-name {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  display: block;


}

.user-block {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  max-width: 150px;
  display: block;
  padding-left: 28px;

}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 30px;
  align-items: center;
}

.navigation-link {
  display: block;
  padding: 20px 45px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;

}

.navigation-item:nth-child(2) {
  margin-left: auto;
}

.navigation-list {
  display: flex;
  width: 1040px;
  margin: 0;
  padding: 0;
  list-style: none;

}

.cat-main {
  width: 293px;
  padding-left: 0;

}

.navigation-subitem-menu {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item-link {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  display: block;



}

/* Main page CSS */


.main-index {
  background-color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;

}

.main-container {
  flex-grow: 1;

}

.slider {
  width: 1160px;
  margin: 0 auto;
}

.product-slide {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.item-description {
  width: 560px;
  margin-left: 40px;
}

.item-title {
  margin-top: 0;
  margin-bottom: 29px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;

}

.more-about {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  display: block;
  min-width: 220px;
  max-width: max-content;
  padding: 10px 0;
  text-align: left;
  text-decoration: none;
  margin: 50px 0;
}

.body-text {
  margin: 0;
}

.catalog-list {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
  text-align: center;
  list-style: none;
  margin-bottom: 70px;
  column-gap: 40px;
}

.catalog-item {
  width: 160px;
  display: block;



}

.item {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;

}

.sub-menu-list {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 60px, #F0F0F0 60px, #F0F0F0 100%);
  margin-bottom: 70px;

}

.sub-menu {
  display: flex;
  flex-direction: column;
  width: 280px;
  list-style: none;
  box-sizing: border-box;


}

.sub-menu-desc {
  display: flex;
  flex-direction: column;
  width: 880px;
  padding-right: 63px;
  justify-content: center;


}

.sub-desc {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;

}

.adv-item-a {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFE17F;
}

.adv-item-na {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.advantages-title {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 2px;
}

.search-rare {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  width: 1160px;
  height: 100px;
  background-color: #F0F0F0;

}

.button-search-rare {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  justify-content: center;
  padding: 40px 0;
}

.index-column {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  margin-bottom: 70px;



}

.about {
  width: 560px;
}

.contact-info {
  width: 560px;
  margin-bottom: 0;
}

.advantages-list {
  display: flex;
  column-gap: 40px;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}


.advantages-description {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
}

.button-item {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}



.appointment {
  margin-top: 70px;
  background-color: #F0F0F0;

}

.subscribe-desc {
  display: flex;
  justify-content: center;
  column-gap: 40px;

}

.subscribe-title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  width: 560px;
}

.subscribe-text {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  width: 560px;

}

.appointment-form {
  display: flex;
  align-items: center;
  width: 1160px;
  margin: 0 auto;
}

.appointment-form input {
  width: 557px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.appnt-button {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border-color: #F0F0F0;
  width: 253px;
}

.free {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-left: auto;
}

/* Main page CSS */

/* Catalog CSS */
.main-catalog {
  background-color: #F0F0F0;
}

.inner-header,
.breadcrumbs,
.catalog-products {
  width: 1160px;
  margin: 0 auto;
}

.inner-header-title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.breadcrumps-link {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.catalog-filter-name {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.catalog-products {
  display: flex;
}

.catalog-filter {
  width: 320px;
}

.catalog-filter-title {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.control-input {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.catalog-right-column {
  width: 840px;
}

.product-card-list {
  background-color: #FFFFFF;
}

.product-card-title {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.pagination-show-more {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.price-link {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.listing-page-na {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.listing-page {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.pagination-link {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

/* Catalog CSS */
.page-footer {
  background-color: #444444;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.page-footer-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 62px;
  padding-bottom: 62px;
  align-items: flex-start;
}

.page-footer-logo {
  width: 1160px;
  margin-bottom: 15px;
}



.contacts-address-text {
  max-width: 250px;
  margin: 0;
  padding-top: 20px;

}

.page-footer-mid {
  display: flex;
  width: 1160;
}


.footer-social-list {
  display: flex;
  width: 150px;
  margin: 0 auto;
}

.nav-social {
  flex-grow: 1;
}

.social-button {
  display: block;
  width: 40px;

}

.footer-tel-logo {
  padding-top: 20px;
}

.contacts-phone {
  display: block;
  max-width: 180px;
  margin-bottom: 63px;
}

.htmlacademy-link {
  display: block;
  color: #F0F0F0;
}


.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-navigation .navigation-item:nth-child(2) {
  margin-left: 0;
}


.navigation-link-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 20px;
}
