@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #FFFFFF;

  outline: 5px solid red;
  outline-offset: -5px;
}

.page-header {
  padding-top: 20px;
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 40px, #ffe17f 40px, #ffe17f 100%);
  color: #000000;
  width: 1160px;
  margin: 0 auto;
}

.search,
.search-button {
  background-color: #FFE17F;
  display: flex;
}

.search {
  display: flex;
  width: 359px;
}

.user-block {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  display: flex;
  width: 498px;
  margin: 0 auto;
}

.main-navigation {
  display: flex;
  width: 1040;
  margin-left: auto;
}

.navigation-link {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-subitem-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item-link {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

/* Main page CSS */


.main-index {
  background-color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;

}

.main-container {
  flex-grow: 1;
}

.slider {
  width: 1160px;
  margin: 0 auto;
}

.product-slide {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.item-description {
  display: flex;
  width: 560px;
  flex-direction: column;
}

.item-title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.more-about {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.catalog-list {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  padding-top: 70px;
  justify-content: space-between;
  text-align: center;
  list-style: none;
}

.catalog-item {
  width: 160px;
}

.item {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;

}

.sub-menu-list {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 60px, #F0F0F0 60px, #F0F0F0 100%);

}

.sub-menu {
  display: flex;
  flex-direction: column;
  width: 280px;
  list-style: none;
  box-sizing: border-box;

}

.sub-menu-desc {
  display: flex;
  flex-direction: column;
  width: 880px;
  padding-right: 63px;
  justify-content: center;

}

.sub-desc {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
}

.adv-item-a {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFE17F;
}

.adv-item-na {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.advantages-title {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
}

.search-rare {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  width: 1160px;
  height: 100px;
  background-color: #F0F0F0;

}

.button-search-rare {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  justify-content: center;
  padding: 40px 0;
}

.index-column {
  display: flex;
  justify-content: center;
  column-gap: 40px;



}

.about {
  width: 560px;
}

.contact-info {
  width: 560px;
}

.advantages-description {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.button-item {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}



.appointment {
  margin-top: 70px;
  background-color: #F0F0F0;

}

.subscribe-desc {
  display: flex;
  justify-content: center;
  column-gap: 40px;

}

.subscribe-title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  width: 560px;
}

.subscribe-text {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  width: 560px;

}

.appointment-form {
  display: flex;
  align-items: center;
  width: 1160px;
  margin: 0 auto;
}

.appointment-form input {
  width: 557px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.appnt-button {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border-color: #F0F0F0;
  width: 253px;
}

.free {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-left: auto;
}

/* Main page CSS */

/* Catalog CSS */
.main-catalog {
  background-color: #F0F0F0;
}

.inner-header,
.breadcrumbs,
.catalog-products {
  width: 1160px;
  margin: 0 auto;
}

.inner-header-title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.breadcrumps-link {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.catalog-filter-name {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.catalog-products {
  display: flex;
}

.catalog-filter {
  width: 320px;
}

.catalog-filter-title {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.control-input {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.catalog-right-column {
  width: 840px;
}

.product-card-list {
  background-color: #FFFFFF;
}

.product-card-title {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.pagination-show-more {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.price-link {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.listing-page-na {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.listing-page {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.pagination-link {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

/* Catalog CSS */
.page-footer {
  background-color: #444444;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.page-footer-container {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
}

.footer-contacts {
  width: 239px;
  margin-right: 119px;

}

.footer-navigation {
  display: flex;
  width: 444px;
  padding: auto;
  margin-right: 183px;
}

.footer-tel {

  max-width: 180px;
}

.footer-social {
  width: 400px;
  margin: 0 auto;
}

.navigation-link-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
